In [1]:
import os
import pandas as pd
from tqdm import tqdm_notebook as tqdm
from sklearn.externals import joblib
%matplotlib inline
import seaborn as sns

DIR = '/mnt/ml-team/minerva/open-solutions/home-credit'
description = pd.read_csv(os.path.join(DIR,'data/HomeCredit_columns_description.csv'),encoding = 'latin1')
application = pd.read_csv(os.path.join(DIR, 'files/unzipped_data/application_train.csv'))
credit = pd.read_csv(os.path.join(DIR, 'files/unzipped_data/credit_card_balance.csv'))

In [3]:
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

# Preprocessing
## Solution 3

In [4]:
(bureau['AMT_CREDIT_SUM'] == 0).sum()

409

This shows that imputing with nan with 0 is probably a bad idea

# Feature Engineering
## Solution 3
### Hand crafted features

In [ ]:
bureau[bureau['SK_ID_CURR']==215354]

### First build helper columns

In [ ]:
bureau['bureau_credit_active_binary'] = (bureau['CREDIT_ACTIVE'] != 'Closed').astype(int)
bureau['bureau_credit_enddate_binary'] = (bureau['DAYS_CREDIT_ENDDATE'] > 0).astype(int)

groupby_SK_ID_CURR = bureau.groupby(by=['SK_ID_CURR'])

In [ ]:
description[description['Row'] == 'DAYS_CREDIT'].Description.tolist()

In [ ]:
features = pd.DataFrame({'SK_ID_CURR':bureau['SK_ID_CURR'].unique()})
features.head()

In [ ]:
group_object = groupby_SK_ID_CURR['DAYS_CREDIT'].agg('count').reset_index()
group_object.rename(index=str, columns={'DAYS_CREDIT': 'bureau_number_of_past_loans'},inplace=True)

features = features.merge(group_object, on=['SK_ID_CURR'], how='left')
features.head()

In [ ]:
group_object = groupby_SK_ID_CURR['CREDIT_TYPE'].agg('nunique').reset_index()
group_object.rename(index=str, columns={'CREDIT_TYPE': 'bureau_number_of_loan_types'},inplace=True)

features = features.merge(group_object, on=['SK_ID_CURR'], how='left')
features.head()

In [ ]:
features['bureau_average_of_past_loans_per_type'] = \
    features['bureau_number_of_past_loans'] / features['bureau_number_of_loan_types']
    
features.head()

In [ ]:
group_object = groupby_SK_ID_CURR['bureau_credit_active_binary'].agg('mean').reset_index()

features = features.merge(group_object, on=['SK_ID_CURR'], how='left')
features.head()

In [ ]:
group_object = groupby_SK_ID_CURR['AMT_CREDIT_SUM_DEBT'].agg('sum').reset_index()
group_object.rename(index=str, columns={'AMT_CREDIT_SUM_DEBT': 'bureau_total_customer_debt'},inplace=True)

features = features.merge(group_object, on=['SK_ID_CURR'], how='left')
features.head()

In [ ]:
group_object = groupby_SK_ID_CURR['AMT_CREDIT_SUM'].agg('sum').reset_index()
group_object.rename(index=str, columns={'AMT_CREDIT_SUM': 'bureau_total_customer_credit'},inplace=True)

features = features.merge(group_object, on=['SK_ID_CURR'], how='left')
features.head()

In [ ]:
features['bureau_debt_credit_ratio'] = \
    features['bureau_total_customer_debt'] / features['bureau_total_customer_credit']
    
features.head()

In [ ]:
group_object = groupby_SK_ID_CURR['AMT_CREDIT_SUM_OVERDUE'].agg('sum').reset_index()
group_object.rename(index=str, columns={'AMT_CREDIT_SUM_OVERDUE': 'bureau_total_customer_overdue'},inplace=True)

features = features.merge(group_object, on=['SK_ID_CURR'], how='left')
features.head()

In [ ]:
features['bureau_overdue_debt_ratio'] = \
    features['bureau_total_customer_overdue'] / features['bureau_total_customer_debt']
    
features.head()

In [ ]:
group_object = groupby_SK_ID_CURR['CNT_CREDIT_PROLONG'].agg('sum').reset_index()
group_object.rename(index=str, columns={'CNT_CREDIT_PROLONG': 'bureau_average_creditdays_prolonged'},inplace=True)

features = features.merge(group_object, on=['SK_ID_CURR'], how='left')
features.head()

In [ ]:
group_object = groupby_SK_ID_CURR['bureau_credit_enddate_binary'].agg('mean').reset_index()
group_object.rename(index=str, columns={'bureau_credit_enddate_binary': 'bureau_credit_enddate_percentage'},inplace=True)

features = features.merge(group_object, on=['SK_ID_CURR'], how='left')
features.head()

In [ ]:
bureau_ONE = features[features['SK_ID_CURR']==215354]

In [ ]:
bureau_ONE

In [ ]:
application = application.merge(features,
                                left_on=['SK_ID_CURR'],
                                right_on=['SK_ID_CURR'],
                                how='left',
                                validate='one_to_one')

In [ ]:
engineered_numerical_columns = list(features.columns)
engineered_numerical_columns.remove('SK_ID_CURR')
bureau_eng = application[engineered_numerical_columns + ['TARGET']]
bureau_eng_corr = abs(bureau_eng.corr())

In [ ]:
bureau_eng_corr.sort_values('TARGET', ascending=False)['TARGET']

In [ ]:
sns.heatmap(bureau_eng_corr, 
            xticklabels=bureau_eng_corr.columns,
            yticklabels=bureau_eng_corr.columns)

## Aggregations

In [21]:
BUREAU_AGGREGATION_RECIPIES = [('CREDIT_TYPE', 'count'),
                               ('CREDIT_ACTIVE', 'size')
                               ]
for agg in ['mean', 'min', 'max', 'sum', 'var']:
    for select in ['AMT_ANNUITY',
                   'AMT_CREDIT_SUM',
                   'AMT_CREDIT_SUM_DEBT',
                   'AMT_CREDIT_SUM_LIMIT',
                   'AMT_CREDIT_SUM_OVERDUE',
                   'AMT_CREDIT_MAX_OVERDUE',
                   'CNT_CREDIT_PROLONG',
                   'CREDIT_DAY_OVERDUE',
                   'DAYS_CREDIT',
                   'DAYS_CREDIT_ENDDATE',
                   'DAYS_CREDIT_UPDATE'
                   ]:
        BUREAU_AGGREGATION_RECIPIES.append((select, agg))
BUREAU_AGGREGATION_RECIPIES = [(['SK_ID_CURR'], BUREAU_AGGREGATION_RECIPIES)]

In [22]:
groupby_aggregate_names = []
for groupby_cols, specs in tqdm(BUREAU_AGGREGATION_RECIPIES):
    group_object = bureau.groupby(groupby_cols)
    for select, agg in tqdm(specs):
        groupby_aggregate_name = '{}_{}_{}'.format('_'.join(groupby_cols), agg, select)
        application = application.merge(group_object[select]
                              .agg(agg)
                              .reset_index()
                              .rename(index=str,
                                      columns={select: groupby_aggregate_name})
                              [groupby_cols + [groupby_aggregate_name]],
                              on=groupby_cols,
                              how='left')
        groupby_aggregate_names.append(groupby_aggregate_name)

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=57), HTML(value='')))

In [23]:
application.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,SK_ID_CURR_var_AMT_CREDIT_SUM,SK_ID_CURR_var_AMT_CREDIT_SUM_DEBT,SK_ID_CURR_var_AMT_CREDIT_SUM_LIMIT,SK_ID_CURR_var_AMT_CREDIT_SUM_OVERDUE,SK_ID_CURR_var_AMT_CREDIT_MAX_OVERDUE,SK_ID_CURR_var_CNT_CREDIT_PROLONG,SK_ID_CURR_var_CREDIT_DAY_OVERDUE,SK_ID_CURR_var_DAYS_CREDIT,SK_ID_CURR_var_DAYS_CREDIT_ENDDATE,SK_ID_CURR_var_DAYS_CREDIT_UPDATE
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,2.133807e+10,1.208166e+10,2.558171e+08,0.0,5.584936e+06,0.0,0.0,186150.000000,5.890424e+05,268865.553571
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,1.385846e+11,0.000000e+00,1.640250e+11,0.0,0.000000e+00,0.0,0.0,827783.583333,2.228364e+06,824562.000000
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,7.144200e+02,0.000000e+00,0.000000e+00,0.0,NaN,0.0,0.0,421362.000000,2.268450e+04,45000.000000
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
application_agg = application[groupby_aggregate_names + ['TARGET']]
application_agg_corr = abs(application_agg.corr())

In [25]:
application_agg_corr.sort_values('TARGET', ascending=False)['TARGET']

TARGET                                    1.000000
SK_ID_CURR_mean_DAYS_CREDIT               0.089729
SK_ID_CURR_min_DAYS_CREDIT                0.075248
SK_ID_CURR_mean_DAYS_CREDIT_UPDATE        0.068927
SK_ID_CURR_sum_DAYS_CREDIT_ENDDATE        0.053735
SK_ID_CURR_max_DAYS_CREDIT                0.049782
SK_ID_CURR_mean_DAYS_CREDIT_ENDDATE       0.046983
SK_ID_CURR_min_DAYS_CREDIT_UPDATE         0.042864
SK_ID_CURR_sum_DAYS_CREDIT                0.042000
SK_ID_CURR_sum_DAYS_CREDIT_UPDATE         0.041404
SK_ID_CURR_var_DAYS_CREDIT                0.038440
SK_ID_CURR_var_DAYS_CREDIT_ENDDATE        0.037370
SK_ID_CURR_max_DAYS_CREDIT_ENDDATE        0.036590
SK_ID_CURR_min_DAYS_CREDIT_ENDDATE        0.034281
SK_ID_CURR_max_DAYS_CREDIT_UPDATE         0.028234
SK_ID_CURR_mean_AMT_CREDIT_SUM            0.019957
SK_ID_CURR_max_AMT_CREDIT_SUM             0.019737
SK_ID_CURR_sum_AMT_CREDIT_SUM             0.014057
SK_ID_CURR_sum_AMT_CREDIT_SUM_OVERDUE     0.013335
SK_ID_CURR_mean_AMT_CREDIT_SUM_LIMIT      0.011446
SK_ID_CURR_min_AMT_CREDIT_SUM             0.010764
SK_ID_CURR_max_AMT_CREDIT_SUM_LIMIT       0.010633
SK_ID_CURR_max_AMT_CREDIT_SUM_OVERDUE     0.010614
SK_ID_CURR_sum_AMT_CREDIT_SUM_LIMIT       0.009419
SK_ID_CURR_mean_CREDIT_DAY_OVERDUE        0.008118
SK_ID_CURR_var_AMT_CREDIT_SUM_LIMIT       0.007636
SK_ID_CURR_min_CREDIT_DAY_OVERDUE         0.007573
SK_ID_CURR_mean_AMT_CREDIT_SUM_OVERDUE    0.007150
SK_ID_CURR_sum_AMT_CREDIT_SUM_DEBT        0.007144
SK_ID_CURR_sum_CREDIT_DAY_OVERDUE         0.006298
SK_ID_CURR_var_AMT_CREDIT_SUM_DEBT        0.005604
SK_ID_CURR_max_CREDIT_DAY_OVERDUE         0.005493
SK_ID_CURR_min_AMT_CREDIT_SUM_LIMIT       0.004779
SK_ID_CURR_sum_CNT_CREDIT_PROLONG         0.004058
SK_ID_CURR_count_CREDIT_TYPE              0.004056
SK_ID_CURR_size_CREDIT_ACTIVE             0.004056
SK_ID_CURR_max_CNT_CREDIT_PROLONG         0.003951
SK_ID_CURR_mean_CNT_CREDIT_PROLONG        0.003031
SK_ID_CURR_min_AMT_ANNUITY                0.002542
SK_ID_CURR_max_AMT_CREDIT_MAX_OVERDUE     0.002540
SK_ID_CURR_sum_AMT_CREDIT_MAX_OVERDUE     0.002491
SK_ID_CURR_mean_AMT_CREDIT_MAX_OVERDUE    0.002435
SK_ID_CURR_min_AMT_CREDIT_MAX_OVERDUE     0.002329
SK_ID_CURR_var_AMT_CREDIT_SUM_OVERDUE     0.002222
SK_ID_CURR_max_AMT_CREDIT_SUM_DEBT        0.002173
SK_ID_CURR_sum_AMT_ANNUITY                0.001975
SK_ID_CURR_var_CREDIT_DAY_OVERDUE         0.001516
SK_ID_CURR_var_AMT_CREDIT_SUM             0.001435
SK_ID_CURR_var_AMT_ANNUITY                0.001413
SK_ID_CURR_mean_AMT_ANNUITY               0.001391
SK_ID_CURR_var_DAYS_CREDIT_UPDATE         0.001366
SK_ID_CURR_max_AMT_ANNUITY                0.001120
SK_ID_CURR_var_AMT_CREDIT_MAX_OVERDUE     0.000870
SK_ID_CURR_mean_AMT_CREDIT_SUM_DEBT       0.000637
SK_ID_CURR_var_CNT_CREDIT_PROLONG         0.000426
SK_ID_CURR_min_AMT_CREDIT_SUM_DEBT        0.000242
SK_ID_CURR_min_CNT_CREDIT_PROLONG         0.000182
SK_ID_CURR_min_AMT_CREDIT_SUM_OVERDUE     0.000003
Name: TARGET, dtype: float64

# Solution 4
## Hand Crafted Features

In [ ]:
# group = bureau[bureau['bureau_credit_enddate_binary'] == 1].groupby(
#     by=['SK_ID_CURR']).apply(
#     lambda x: x.sort_values(['DAYS_CREDIT_ENDDATE'], ascending=True)).reset_index(drop=True)
# group['bureau_days_enddate_diff'] = group.groupby(by=['SK_ID_CURR'])['DAYS_CREDIT_ENDDATE'].diff()
# group['bureau_days_enddate_diff'] = group['bureau_days_enddate_diff'].fillna(0).astype('uint32')

# bureau = bureau.merge(group[['bureau_days_enddate_diff', 'SK_ID_BUREAU']], on=['SK_ID_BUREAU'], how='left')
# bureau['bureau_average_enddate_future'] = bureau.groupby(
#     by=['SK_ID_CURR'])['bureau_days_enddate_diff'].agg('mean').reset_index()['bureau_days_enddate_diff']

# bureau['bureau_days_credit_diff'] = bureau.groupby(
#     by=['SK_ID_CURR']).apply(
#     lambda x: x.sort_values(['DAYS_CREDIT'], ascending=False)).reset_index(drop=True)['DAYS_CREDIT']
# bureau['bureau_days_credit_diff'] *= -1
# bureau['bureau_days_credit_diff'] = bureau.groupby(by=['SK_ID_CURR'])['bureau_days_credit_diff'].diff()
# bureau['bureau_days_credit_diff'] = bureau['bureau_days_credit_diff'].fillna(0)